<footer>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "KO-firness","root_path",class:"nav-link navbar-brand" %>
  </li>
  <li class="nav-item">
    <a class="nav-link">〒791-7755 愛媛県松山市フィットネスビル5F</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">TEL:0120-1515-5555</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">MAIL:KO-fitness@example.com</a>
  </li>
</ul>
</nav>
</footer>