<footer>
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-bottom">
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "KO-firness","root_path",class:"nav-link navbar-brand" %>
  </li>
  <li class="nav-item">
    <a class="nav-link">〒777-7777 愛媛県松山市KOビル102</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">TEL:0120-0000-0101</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">MAIL:KO-fitness@omail.com</a>
  </li>
</ul>
</nav>
</footer>